.header {
    color:white;
/*    text-shadow: 0px 0px 6px #004444;*/
    padding-top:10rem;
    padding-bottom:20rem;
    background-size: 100%;
  background-image: url('../images/flynow/flynowheaderthin.png');
}

.paintings{
    color:white;
    padding-top:10rem;
    padding-bottom:10rem;
    background-size: 100%;
  background-image: url('../images/paintings/header.jpg');
}

.menu{
    color:#222;
    padding-top:10rem;
    padding-bottom:20rem;
    background-image: url('../images/sierranevada/menu-header.jpg');
}

.sculpture{
    background-image:url('../images/sculpture/header.jpg');
}

.sketchbook{
    padding-bottom:10rem;
    background-image: url('../images/sketch/header.jpg');
}

.drawing{
    background-image: url('../images/drawings/header.jpg');
}

.photography{
    color:#222;
    background-image:url('../images/photography/header.jpg');
}

.myfinances{
    background-image: url('../images/myfinances/header.png');
}

.lowpoly{
    padding-top:14rem;
    padding-bottom:10rem;
    color:#222;
    background-image: url('../images/lowpoly/header.png');
}

.shampoo{
    color: #222;
    padding-bottom:10rem;
    background-image: url('../images/sierranevada/shampoo-header.jpg');
}

.wlp {
    color: #444;
    background-image: url('../images/wlp/banner.png');
}

.innovation{
    background-image:url('../images/innovation/header.png');
}